<html>
<head>
	<title>View Countries</title>
	<% include header %>
	
</head>
<body>
	 		<table class="table table-striped table-hover">
	 			<thead>
	 				<th>Country</th>	
	 			</thead>
	 			
			  	<tbody>
			      	<% for(var i= 0; i < countryList.length; i++) {
		  				var country = countryList[i];
		  				%><tr>
		  					<td>		  		
			     			 	<%=  country.name %>
	   				 			<br>
			   				</td>	
			   			  </tr>
			   		<% } %>
			   	</tbody>
			</table> 
 
</body>
<html>