<!--Name
Jersey Number
Play Position (Dropdown)
Stats
a. Number of Matches
b. Wins
c. Goals etc.. -->

<html>
<head>
	<title> Create Player </title>
	<% include header %>
</head>
<body>
 	<div class = "container">
		<form method="post" id= "form" action = "/player" class="form-horizontal" name = "registration">
		  <fieldset>
		    <legend>Create Player</legend>
		    <div class="form-group">
		      <label for="inputName" class="col-lg-2 control-label">Player Name</label>
		      <div class="col-lg-6">
		        <input type="text" class="form-control" name ="pname" id="pname" placeholder="Name" >
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputName" class="col-lg-2 control-label">Player country</label>
		      <div class="col-lg-6">
		        <input type="text" class="form-control" name ="country" id="country" placeholder="Country" >
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputName" class="col-lg-2 control-label">Jersy Number</label>
		      <div class="col-lg-6">
		        <input type="number" class="form-control" name ="jnum" id="jnum" min="1" max="99" placeholder="Jersy Number" >
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputName" class="col-lg-2 control-label">Playing Position</label>
		     	 <div class="col-lg-6">
				 	 		<select name="position" id="position">
	    						<option name="position" >Attacker</option>
	   							<option name="position" >Midfilder</option>
	    						<option name="position" >Defender</option>
	    						<option name="position" >Goalkeeper</option>
	 						 </select>
				 	 </div>
		   	</div>
		    <div class="form-group">
		      <div class="col-lg-6 col-lg-offset-2">
		        <button type="reset" class="btn btn-default">Cancel</button>
		        <button type="submit" class="btn btn-primary">Create Player</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>
</body>
</html>
