<html>
<head>
	<title>Registration</title>
	<% include header %>
</head>
<body>
	
	<div class = "container">
		<form method="post" action="/registration" class="form-horizontal" name = "registration" id="form">
		  <fieldset>
		    <legend>Registration</legend>
		    <div class="form-group">
		      <label for="inputName" class="col-lg-2 control-label">Name</label>
		      <div class="col-lg-6">
		        <input type="text" class="form-control" name ="name" id="name" placeholder="Name" >
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
		      <div class="col-lg-6">
		        <input type="email" class="form-control" name ="email" id="email" placeholder="Email">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputDob" class="col-lg-2 control-label">Date of Birth</label>
		      <div class="col-lg-6">
		        <input type="date" class="form-control" name ="dob" id="dob" placeholder="Date Of Birth">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
		      <div class="col-lg-6">
		        <input type="password" class="form-control" name ="password" id="password" placeholder="Password">
		      </div>
		    </div>
		    <div class="form-group">
		      <label for="inputPassword" class="col-lg-2 control-label">Confirm Password</label>
		      <div class="col-lg-6">
		        <input type="password" class="form-control" name ="confirmpassword" id="confirmpassword" placeholder="Confirm Password" >
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-6 col-lg-offset-2">
		        <button type="reset" class="btn btn-default">Cancel</button>
		        <button type="submit" class="btn btn-primary">Sign Up</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>
	
	</body>
</html>