<html>
   <head>
      <title> Player </title>
   </head>
   <body>
      <% if(type == "error") { %>
        <h3><%= message %></h3>
      <% }else{ %>
   
        <h3>New player</h3>
 
        <%}%>
   </body>
   </html>