<html>
   <head>
      <title> Report </title>
      <% include header %>
   </head>
   <body>
      <% if(type == "error") { %>
        <h3><%= message %></h3>
      <% }else{ %>

        <h3><%= message%></h3>

        <%}%>
   </body>
   </html>
